HF_TOKEN='hf_...'          		# HuggingFace token
API_KEY='your_secret'      		# Shared secret between frontend proxy and backend
LOGIN_USER=""					# Username needed for login (optional)
LOGIN_PASSWORD=""				# Password needed for login (optional)
# DO_NOT_LOAD_AR=true    		# Skip loading AR
# DO_NOT_LOAD_DIFFUSION=true	# skip loading diffusion
# AR_MODEL="meta-llama/Llama-3.1-8B-Instruct"	# which AR-LM to use
# HF_HOME="path/to/huggingface/cache"			# set to current dir if absent