HF_TOKEN=""
LOGIN_USER = ""
LOGIN_PASSWORD = ""
DO_NOT_LOAD_AR=false
DO_NOT_LOAD_DIFFUSION=false
AR_MODEL="meta-llama/Llama-3.1-8B-Instruct"
#HF_HOME="path/to/huggingface/cache"  # set to current dir if absent